SUPABASE_URL=
SUPABASE_SERVICE_KEY=
SUPABASE_STORAGE_BUCKET=
SESSION_SECRET=
ICECAT_API_TOKEN=
ICECAT_CONTENT_TOKEN=
ICECAT_SHOPNAME=openIcecat-live
# Optional: defaults to https://live.icecat.biz/api
ICECAT_API_URL=
# Optional: defaults to EN
ICECAT_LANG=EN
